<% layout("/layouts/boilerplate.ejs")%>

    <body>
        <div class="row">
            <div class="col-8 offset-2"><br>
                <h3>Edit the listing :-</h3>
                <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter title!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control"
                            required><%=listing.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter description!
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input name="listing[image]" value="<%=listing.image%>" type="text" class="form-control"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter image link!
                        </div>
                    </div> -->
                    <div class="card mb-3 listing-card" style="width: 12rem;">
                        Original Listing Image <br>
                        <img src="<%=originalUrl%>" class="card-img-top">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input name="listing[image]" type="file" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input name="listing[price]" value="<%=listing.price%>" type="number"
                                    class="form-control" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter valid price!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input name="listing[country]" value="<%=listing.country%>" type="text"
                                    class="form-control" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter valid country name!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter valid location!
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-warning offset-5 mb-3" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </body>